#popular-product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    border-radius: 25px ;
    background-color: var(--glass);
    width: 25rem;
    cursor: pointer;
    #product-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        border-radius: 25px ;
        background-color: white;
        .img-coffee{
            width: 22rem;
            height: 20rem;
            object-fit: cover;
            border-radius: 20px ;
        }
        .product-info{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 1rem;
            h5{
                font-size: 1.4rem;
                color: var(--text);
            }
        }
        .bottom-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            .temperature-cards{
                width: 100%;
                display: flex;
                gap: 1rem;
            }
            
        }
    }

}