#temperature-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: 3px solid var(--primary);
    span{
        font-size: 1.2rem;
        color: var(--primary);
        font-weight: 700;
    }
    &.inactive{
        opacity: 0.5;
    }
}