#category-page{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    .products{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}