#product-page{
    width: 100%;
    min-height: 100vh;
    .list-of-products{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
}