#search-bar{
    display: flex;
    align-items: center;
    width: 540px;
    padding: 0 10px;
    input{
        height: 45px;
        width: 100%;
        border: 1px solid #BFBFBF;
        border-radius: 6px 0 0 6px;
        padding: 0 10px;
    }
}