#drop-down-button{
    height: 45px;
    padding:0 5px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: #FFFFFF;

    border: 1px solid #BFBFBF;
    border-left: none;
    cursor: pointer;
    span{
        white-space: nowrap;
    }
}

.triangle-bas {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top:6px solid #A3A3A3;
}