#location{
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    border: 1px solid var(--dark-black);
    .content{
        display: flex;
        .image{
            display: flex;
            justify-content: center;
            align-items:flex-end;
            img{
                width: 15px;
                height: 20px;
            }
        }
        .text{
            p{
                font-size: var(--body-small);
                color: var(--dark-grey);
                white-space: nowrap;
            }
            h4{
                font-size: var(--h4-size);
                color: var(--white);
                white-space: nowrap;
            }
        }
    }
    cursor: pointer;
    padding: 0 8px;
    &:hover{
        border: 1px solid var(--white);
    }
}