#cart-nav{
    height: 32px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    img{
        width: 15px;
    }
    padding: 0 8px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    
}

.cart-count{
    color: var(--primary);
    position: absolute;
    right: 73px;
    top: 8px;
    -webkit-box-pack: center;
}