.primary-btn{
    height: 45px;
    padding: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 5px;

    background-color: var(--yellow);
    color: var(--dark-black);

    font-size: 0.8em;
    font-family: 'Ember-bold', sans-serif;

    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover{
        background-color: var(--dark-yellow);
    }

}