#input-text{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5rem;
    input{
        width: 100%;
        height: 3rem;
        border-radius: 3px;
        border: 1px solid #0F1111;
        padding: 0.5rem;
    }
}