#location{
    display: flex;
    gap: 5px;
    cursor: pointer;
    .image{
        display: flex;
        justify-content: center;
        align-items:flex-end;
        img{
            width: 15px;
            height: 20px;
        }
    }
    .text{
        p{
            font-size: var(--body-medium);
            color: var(--dark-grey);
        }
        h4{
            font-size: var(--h4-size);
            color: var(--white);
        }
    }
}